.row {
  margin: 3vh 0;
}
.col {
  background-color: white;
  /* border: 1px black solid; */
  border: 2px lightgray solid;
  /* border-radius: 10px; */
  box-shadow: 5px 5px 5px lightgray;
}
.col-lg-3 {
  margin-bottom: 10px;
}
#drag-source {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: steelblue;
}
h4 {
  padding: 5px;
  text-align: center;
  width: 100%;
  box-shadow: 0px 3px 0px 0px lightgray;
}

ul {
  list-style-type: none;
  padding: 0;
}
#sList {
  padding: 10px 0px 10px 0px;
  border: 2px lightgray solid;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  height: 85%;
  /* height: auto; */
  display: border-box;
  /* position: relative; */
}
.sockOption {
  margin: 2px;
  border-radius: 5px;
  border: 2px black solid;
  line-height: 1.3;
}
.hole {
  border: 3px lightgray solid;
  width: 22%;
  height: 90%;
  margin: 0.5% auto;
  border-radius: 15px;
  display: border-box;
}
.workspace {
  /* background-color: gray; */
  border: 2px rgb(33, 172, 194) solid;
  width: 100%;
  height: 18%;  
  margin: 0px auto;
  border-radius: 5px;
}
.area {
  display: inline-block;
  margin: 0px 0px 0px 0px;
}
.area h5 {
  font-size: 15px;
  font-weight: bold;
}

.inHole {
  border: none;
  /* border-radius: 0; */
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  padding-top:5px;
}
.inHole a {
  /* margin-top: 20%; */
  word-wrap: break-word;
  }
.current {
  font-size: 30px;
  font-weight: bold;
}
.powerOn{
  border: 3px green solid;
  border-radius: 15px;
}

@media screen and (min-width: 985px) {
  .col {
    height: 500px;
  }
}
@media screen and (max-width: 984px) and (min-width: 401px) {
  .col-lg-3 .col {
    height: 150px;
  }
  .col-lg-9 .col {
    height: 400px;
  }
  .main {
    padding: 0;
  }
  #sList {
    padding: 10px;
    height: 65%;
  }
  .area h5 {
    font-size: 10px;
  }
  .workspace {
    height: 17%;
  }
  .current {
    font-size: 20px;
    font-weight: bold;
  }
  .inHole {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
    .col-lg-3 .col {
        height: 150px;
      }
      .col-lg-9 .col {
        height: 400px;
      }
      .main {
        padding: 0;
      }
      #sList {
        padding: 10px;
        height: 65%;
      }
      .area h5 {
        font-size: 10px;
      }
      .workspace {
        height: 17%;
      }
      .current {
        font-size: 20px;
        font-weight: bold;
      }
    .inHole {
        font-size: 10px;
      }
}