<html>
    <head></head>
    <body>
        socket test
        <input id="input" type="text">
        <button type="button" id="connect">connect</button>
        <button type="button" id="disconnect" disabled>disconnect</button>
        <button type="button" id="signal">signal</button>
        <input id="onezero" type="text">
    </body>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket;
      const sock = io.connect('/IOT');
      var num = 0;
        $(document).ready(function(){
          $("#onezero").val(num);
            // var socket = io.connect('/IOT');
            // var socket = io.of('/IOT');
            // $("#disconnect").prop("disabled","true");
        });
        $("#connect").on("click", function(){
            console.log("click");
            socket = io.connect('/IOT');
            var inputMac = $("#input").val();
            console.log(inputMac);
            socket.emit('socketToServer', inputMac,'data');
            $("#connect").prop("disabled","true");
            $("#disconnect").prop("disabled","false");
            $("#disconnect").removeAttr("disabled");
        });

        $("#disconnect").on("click", function(){
            console.log("disconnect");
            socket.disconnect();
            $("#disconnect").prop("disabled","true");
            $("#connect").prop("disabled","false");
            $("#connect").removeAttr("disabled");
        });
        
        $("#signal").on("click", function(){
          console.log("emit ",num);
          sock.emit('realtime', num);
        });
        // $(body).on("change", "input", function(){
        //   $("onezero").val(data);
        // });
        // socket.on("connection", ()=>{
          sock.on("sendSignal",(data) => {
            console.log('signal come ', data);
            num = data;
            $("#onezero").val(num);
          });
        // });
        
    </script>
    
</html>