<!DOCTYPE html>


<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="css/styles.css" />
  <style>body {background-color: rgb(233, 233, 210);}</style>

  <link href="../styles/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .row{
      margin: 3vh 0;
    }
  </style>
</head>

<body>

  <!-- nav bar -->
  <section id="nav">
    <nav class="navbar navbar-dark navbar-expand-lg bg-info fixed-top flex-md-nowrap shadow">
      <div class="navbar-header">
      <button class="btn btn-info" type="button" id="sideButton">
        <i class="fa fa-bars" style="font-size: 1.5rem;"></i>
      </button>

      <a class="navbar-brand" href="../../">Green Office Network</a>
    </div>
    </nav>

    <!-- side nav bar -->
    

      <nav id="sideMenu" class="sideMenu">
        <div>
          <button class="btn" type="button" id="sideClose">
            <i class="fa fa-arrow-left" style="font-size: 24px;"></i>
          </button>
        </div>
        <div class="sidebar-header">
          <h3 style="word-wrap: break-word;">
            <i class="fa fa-user-circle"></i><%=name%>
          </h3>
        </div>

        <ul class="navbar-nav menuItem">

          <li class="nav-item"> 
            <a class="nav-link" href="../../">
              <i class="fa fa-home"></i>Home</a>
          </li>

          <li class="nav-item"> 
            <a href="#powerUse" data-toggle="collapse" aria-expanded="false" class="nav-link">
              <i class="fa fa-battery-3"></i> Power Use
            </a>
              <ul class="collapse list-unstyled" id="powerUse">

                <li class="nav-item">
                  <a class="nav-link" href="../../powerUse/lookup">
                    <i class="fa fa-area-chart"></i>Statistics
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="../../powerPlan/managePower">
                    <i class="fa fa-calendar-o"></i>Schedule Power Plans
                  </a>
                </li>

              </ul>
          </li>

          <li class="nav-item">

            <a href="#officeSetting" data-toggle="collapse" aria-expanded="false" class="nav-link">
              <i class="fa fa-group"></i>Office
            </a>
                  <ul class="collapse list-unstyled" id="officeSetting">
                  
                    <li class="nav-item"> 
                      <a class="nav-link" href="addSocket">
                        <i class="fa fa-plus"></i>Add New Socket
                      </a>
                    </li>
                    
                    <% if (locals.lv>=5) { %>
                      <li class="nav-item"> 
                        <a class="nav-link" href="">
                          <i class="fa fa-eye"></i>Manage Office Environment</a>
                      </li>
                      <li class="nav-item"> 
                        <a class="nav-link" href="assignToSocket">
                          <i class="fa fa-eye"></i>Socket Management</a>
                      </li>
                    <% } %>
                  </ul>
          </li>
          
          <% if (locals.lv>=10) { %>
          <li class="nav-item"> 
            <a href="#adminSetting" data-toggle="collapse" aria-expanded="false" class="nav-link">
              <i class="fa fa-gear"></i>Settings
            </a>
              <ul class="collapse list-unstyled" id="adminSetting"> 
                <!-- <li class="nav-item">
                  <a class="nav-link" href="adminSetting/configs"> 
                    <i class="fa fa-sliders"></i>System Configuration
                  </a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="../../adminSetting/permissionManage"> 
                    <i class="fa fa-sliders"></i>Manager User Permission
                  </a>
                </li>
              </ul>
          </li>          
          <% } %>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item" id="sideLogout"> 
            <a class="nav-link" id="logout" href="/auth/logout" onclick="return confirm('sure?')">Log out</a>
          </li>
        </ul>
      </nav>
  </section>
<!-- nav end -->

  <!-- <div class="container-fluid" style="top: 50%; left:50% ; position: absolute; transform: translate(-50%,-50%);"> -->
  <div class="main">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 style="text-align: center;">Please choose a power plan</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label>Please enter the username of a user that you want to execute the plan to their workspace:</label>
            </br>(Or type "ALL" to execute the plan to all users' workspace)
            <input class="form-control">
          </div>

          <div class="form-group">
            <label for="plans">Execute </label>
            <select class="form-control">
              <option value="save">power saving mode</option>
              <option value="cut">Power disabling</option>
            </select>
          </div>

          <div class="form-group">
            <label for="appt">at the time of: </label>
            <input type="time" class="form-control" id="appt" name="appt" min="09:00" max="18:00" required>
          </div>

          <div class="form-group">
           <button type='submit' class="btn btn-block btn-success" id='lol'>submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="../js/sideMenu.js"></script>

</body>

</html>
