
<html>
    <body>
        <h1>Register html</h1>

        <% if (locals.exist) { %>
            <div class="alert alert-danger">
                <strong>Error!</strong> <%= exist %> 
            </div>
        <%}%>
        <% if (locals.validation) { %>
            <div class="alert alert-danger">
                <strong>Error!</strong> <%= validation%> !  
            </div>
        <%}%>
        
        <% if (locals.success) { %>
            <div class="alert alert-danger">
                <strong><%= success%></strong> 
            </div>
        <%}%>
              
        <form action="/auth/register" method="POST" class ="registerForm"> 
            <!-- <div>
                <label for="userId">userId</label>
                <input id="userId" type="text" id="userId" name="userId" required>
            
            </div> -->
            <div>
                <label for="Username">Username</label>
                <input type="text" id="userName" name="Username" required>
        
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="userPassword" name="Password" required>
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="Name" required>
        
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="Email" required>
        
            </div>
            <!-- <div>
                <label for="roleName">roleName</label>
                <input type="text" id="roleName" name="roleName" required>
        
            </div>
            <div>
                <label for="roleLevel">roleLevel</label>
                <input type="number" id="roleLevel" name="roleLevel" required>
        
            </div> -->
        
        <button type="submit" > register!</button>
        </form>
        
        <a href="/auth/login">Back to Login</a>
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
    </body>

</html>
